<%
  selected_role_ids = RedmineStatusAlias::Settings.client_role_ids
  selected_internal_role_ids = RedmineStatusAlias::Settings.internal_role_ids
  aliases = RedmineStatusAlias::Settings.status_aliases
  client_transition_targets = RedmineStatusAlias::Settings.client_transition_targets
  roles = Role.order(:position).to_a
  client_roles = RedmineStatusAlias::Settings.client_view_roles
  statuses = IssueStatus.order(:position).to_a
  status_options = [[l(:label_status_alias_no_alias), ""]] +
                   statuses.map { |status| [RedmineStatusAlias::Settings.raw_status_name(status), status.id.to_s] }
  duplicate_alias_groups = RedmineStatusAlias::Settings.ambiguous_client_choice_groups(statuses)
  status_ids = statuses.map { |status| status.id.to_s }
  missing_alias_ids = aliases.values.map(&:to_s).reject(&:blank?).uniq - status_ids
  transition_reference_ids = client_transition_targets.flat_map do |source_id, alias_rules|
    [source_id.to_s] + alias_rules.flat_map { |alias_id, target_id| [alias_id.to_s, target_id.to_s] }
  end
  missing_transition_status_ids = transition_reference_ids.uniq - status_ids
%>

<div class="box tabular settings">
  <p>
    <%= label_tag "settings_client_role_ids", l(:label_status_alias_client_roles) %>
    <%= hidden_field_tag "settings[client_role_ids][]", "" %>
    <%= select_tag "settings[client_role_ids][]",
                   options_from_collection_for_select(client_roles, :id, :name, selected_role_ids),
                   multiple: true,
                   size: [[client_roles.size, 8].min, 1].max %>
    <em class="info"><%= l(:text_status_alias_client_roles_hint) %></em>
  </p>

  <p>
    <%= label_tag "settings_internal_role_ids", l(:label_status_alias_internal_roles) %>
    <%= hidden_field_tag "settings[internal_role_ids][]", "" %>
    <%= select_tag "settings[internal_role_ids][]",
                   options_from_collection_for_select(roles, :id, :name, selected_internal_role_ids),
                   multiple: true,
                   size: [[roles.size, 8].min, 1].max %>
    <em class="info"><%= l(:text_status_alias_internal_roles_hint) %></em>
  </p>

  <fieldset class="box">
    <legend><%= l(:label_status_alias_mappings) %></legend>

    <table class="list">
      <thead>
        <tr>
          <th><%= l(:label_status_alias_internal_status) %></th>
          <th><%= l(:label_status_alias_customer_status) %></th>
        </tr>
      </thead>
      <tbody>
        <% statuses.each do |status| %>
          <tr class="<%= cycle("odd", "even") %>">
            <td><%= RedmineStatusAlias::Settings.raw_status_name(status) %></td>
            <td>
              <%= select_tag "settings[status_aliases][#{status.id}]",
                             options_for_select(status_options, aliases[status.id.to_s].to_s) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </fieldset>

  <fieldset class="box">
    <legend><%= l(:label_status_alias_client_transitions) %></legend>
    <%= hidden_field_tag "settings[client_transition_targets][_clear]", "" %>
    <p><em class="info"><%= l(:text_status_alias_client_transitions_hint) %></em></p>

    <% if duplicate_alias_groups.any? %>
      <table class="list">
        <thead>
          <tr>
            <th><%= l(:label_status_alias_current_status) %></th>
            <th><%= l(:label_status_alias_client_choice) %></th>
            <th><%= l(:label_status_alias_actual_target_status) %></th>
          </tr>
        </thead>
        <tbody>
          <% statuses.each do |source_status| %>
            <% duplicate_alias_groups.each do |alias_id, target_statuses| %>
              <%
                alias_status = statuses.detect { |status| status.id.to_s == alias_id.to_s }
                transition_options = [[l(:label_status_alias_no_transition_rule), ""]] +
                                     target_statuses.map do |target_status|
                                       [RedmineStatusAlias::Settings.raw_status_name(target_status), target_status.id.to_s]
                                     end
                selected_target_id = client_transition_targets.dig(source_status.id.to_s, alias_id.to_s).to_s
              %>
              <% if alias_status %>
                <tr>
                  <td><%= RedmineStatusAlias::Settings.raw_status_name(source_status) %></td>
                  <td><%= RedmineStatusAlias::Settings.raw_status_name(alias_status) %></td>
                  <td>
                    <%= select_tag "settings[client_transition_targets][#{source_status.id}][#{alias_id}]",
                                   options_for_select(transition_options, selected_target_id) %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="nodata"><%= l(:text_status_alias_no_ambiguous_transitions) %></p>
    <% end %>
  </fieldset>

  <p class="nodata"><%= l(:text_status_alias_behavior_hint) %></p>

  <% if duplicate_alias_groups.any? %>
    <div class="warning">
      <p><strong><%= l(:label_status_alias_duplicate_aliases) %></strong></p>
      <ul>
        <% duplicate_alias_groups.each do |alias_id, target_statuses| %>
          <%
            alias_status = statuses.detect { |status| status.id.to_s == alias_id }
            source_names = target_statuses.map { |status| RedmineStatusAlias::Settings.raw_status_name(status) }
          %>
          <% if alias_status && source_names.any? %>
            <li>
              <%= l(:text_status_alias_duplicate_aliases,
                    alias_name: RedmineStatusAlias::Settings.raw_status_name(alias_status),
                    source_names: source_names.join(", ")) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if missing_alias_ids.any? %>
    <div class="warning">
      <p>
        <strong><%= l(:label_status_alias_missing_aliases) %></strong>
        <%= l(:text_status_alias_missing_aliases, status_ids: missing_alias_ids.join(", ")) %>
      </p>
    </div>
  <% end %>

  <% if missing_transition_status_ids.any? %>
    <div class="warning">
      <p>
        <strong><%= l(:label_status_alias_missing_transitions) %></strong>
        <%= l(:text_status_alias_missing_transitions, status_ids: missing_transition_status_ids.join(", ")) %>
      </p>
    </div>
  <% end %>
</div>
